.items-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: 2rem;

  max-width: 600px;
  border-radius: 10px;
  border: 3px solid #fff;
}
.items-container h3 {
  color: #fff;
  margin: 0;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.add-btn {
  cursor: pointer;
  transition: all 0.3s;
}
.add-btn:hover {
  transform: scale(1.15);
}
.delete-btn {
  cursor: pointer;
  transition: all 0.3s;
}
.delete-btn:hover {
  transform: scale(1.15);
  transform: rotate(360deg);
}
