.principal {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  flex-direction: column;
  padding: 2rem;
  color: #fff;
}
.principal h4 {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.input-area {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-area input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-indent: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}
